
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card-body">
            <legend class="text-center">Login</legend>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <label for="email">Email</label>
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password"/>
                </div>
                <button type="submit" class="btb btn-dark btn-lg btn-block">Login</button>
                <div class="form-group mt-3">
                    <p>Para acceder al sistema es necesario que estes logeado, ¿No tienes una cuenta?:</p>
                    <p> ¡Crea una! <a [routerLink]="['/register']">Registrar</a></p>
                </div> 
            </form>  
        </div>
    </div>
</div>