
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card-body">
            <legend class="text-center">Registro</legend>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <label for="email">Email</label>
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password"/>
                </div>
                <button type="submit" class="btb btn-dark btn-lg btn-block">Registro</button>
                <div class="form-group mt-3">
                    <p> ¿Ya tienes una cuenta? <a [routerLink]="['/login']">Login</a></p>
                </div> 
            </form>  
        </div>
        
    </div>
</div>
